*~
*.log
*.aux

AIMM3/
BP truncs paper/
MSLD/
LSA/
LCC/
old files/
main2_backup/

.Rhistory
.dropbox
.idea/
orthofix/

plots_for_words/*-nodigraphs.eps
plots_for_words/*-tech.eps
plots_for_words/*-tokenfreq.eps

results/*nodigraphs*
results/*tech*
results/*tokenfreq*
